body {
  width: 100%;
  margin: 0;
  background: white;
  background-size: cover;
  color: $dark;
  backface-visibility: hidden;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}
